@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: url(../img/jundo-bg-marrom.png);
    font-family: 'Montserrat', sans-serif;
}
main{
    margin: 2rem;
}
ion-icon{
    font-size: 2rem;
    color: #fafafa;
    cursor: pointer;
}
    
/* HEADER */

.cabecalho{
    width: 100%;
    margin-bottom: 3em;
    font-family: "Kalnia";
    font-size: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #448A49;
    box-shadow:10px 0px 10px #2e2e2e;
    z-index: 99;
}
.logo{
    flex-direction: row;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 4em;
    position: relative;
    right: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}
.cabecalho-menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #265c2a;
}
.cabecalho-itens{
    display: inline-block;
    font-size: 0.7em;
    text-align: center;
    margin: auto;
    padding: 1em;
}
.cabecalho-itens a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}
.menu{
    padding: 1.5em;
}
.botao-header{
    border: none;
    background-color: transparent;
}

/* CHAMADA */

#chamada{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-repeat: repeat;
    padding: 1em;
}
.lado-a{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lado-b img{
    width: 13rem;
}
.titulo{
    font-family: "Kalnia";
    font-size: 3.4rem;
    line-height: 3rem;
    color: #7d2e2e;
    margin-bottom: 1rem;
}
.subtitulo{
    font-size: 0.6em;
    text-align: center;
    color: #2c0101;
}
.descricao{
    align-items: center;
    font-family:"Montserrat";
    font-size: 1em;
    color: #2c0101;
    margin-bottom: 1rem;
}
.descubra{
    display: none;
}
.descubra:hover{
    background-color: #b14a4a;
}

/* PRODUTOS */

#produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topico{
    margin: 1.5rem;
    color: #448A49;
    font-family: "Kalnia";
    font-size: 2rem;
    text-align: center;
}
.card-produto{
    display: flex;
    width: 20rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5%;
    background-color: #fafafa;
    cursor: pointer;
    transition: all .2s
}
.card-produto:hover{
    transform: translateY(-.2rem)
}
.container-card-produto{
    align-content: center;
}
.card-produto-img{
    width: 5rem;
    margin-right: 1rem;
    border-radius: 5%;
    background-color: #265c2a;
}
.card-titulo{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: "Kalnia";
    text-transform: uppercase;
}

/* AVALIACOES */

#avaliacoes{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: space-evenly;
}
.card-avaliacao{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin: 0.4rem;
    border-radius: 1rem;
    background-color: #fafafa;
    cursor:pointer;
    transition: all .2s;
}
.card-avaliacao:hover{
    transform: translateY(-.2rem);
}
.card-aspas{
    font-family: "Kalnia";
    font-size: 5rem;
    line-height: 0;
}
.card-avaliacao-texto{
    margin: 1rem; 
}
.card-autor{
    font-family: "Kalnia";
}

/* 
=============
TELAS GRANDES 
=============
*/

@media(min-width: 640px){
    ion-icon{
        display: none;
    }
    /*HEADER*/
    .cabecalho{
        display: flex;
        position: sticky;
        width: 100%;
        height: 7.2em;
        margin-bottom: 4em;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        padding: 0;
        margin-left: 2em;
        width: 7em;
        position: static;
    }
    .cabecalho-menu{
        background-color: transparent;
    }
    .cabecalho-itens{
        font-size: 1.1em;
        margin-right: 2em;
    }
    .cabecalho-itens:hover{
        transform:translateY(-.2rem);
        transition: all 0.3s;
    }
    .botao-header:hover{
        transform:translateY(-.2rem);
        transition: all 0.3s;
    }

    /* MAIN */
    #chamada{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .lado-a{
        display: flex;
        flex-direction: column;
        justify-content: left;   
        align-items: start;
        min-width: 50%; 
        box-sizing: border-box;
        overflow-wrap: break-word;
   }
   .lado-b{
        display: flex;
        flex-direction: row;
        min-width: 50%;
        justify-content: right;
    }
    .titulo{
        max-width: 90%;
        font-size: 5em;
        white-space: nowrap;
        line-height: 4.5rem;
        margin-bottom: 3rem;
    }
    .subtitulo{
        max-width: 90%;
        font-size: inherit;
        padding: 0;
        color: #7d2e2e;
    }
    .descricao{
        font-size: 1.3em;
    }
    .descubra{
        display: block;
        align-items: center;
        font-family: "Kalnia";
        text-transform: uppercase;
        color: #fff;
        background-color:#7d2e2e;
        height: 4em;
        width: 15em;
        border: none;
        border-radius: 99px;
        margin-top: 2rem;
        transition: all 0.2s;
        font-size: 0.85em;
    }
    .lado-b img{
        width: 20em;
    }
    .topico{
        font-size: 3.5em;
    }
    #produtos{
        flex-direction: row;
        padding: 3rem;
    }
    .card-produto{
        width: 25rem;
        display: block; 
    }
    .card-titulo{
        font-size: 1.5rem;
    }
    .card-descricao{
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    /* Avaliações */
    #avaliacoes{
        flex-direction: row;
        padding: 3rem;
    }
    .card-avaliacao-texto{
        font-size: 1.1rem;
        margin: 1rem;
    }
}

/* 
=============
TELAS MÉDIAS 
=============
*/

@media (min-width: 640px) and (max-width: 1024px) {
    main{
        margin: 1.6rem;
    }
    ion-icon{
        font-size: 2.5rem;
    }
    /* HEADER */
    .logo{
        width: 5em;
    }
    .cabecalho-menu{
        background-color: transparent;
    }
    .cabecalho-itens{
        font-size: .8em;
    }
    /* MAIN */
    .titulo{
        font-size: 2.7em;
    }
    .descricao{
        font-size: 1em;
    }
    .lado-b img{
        width: 10em;
    }
    .card-produto{
        width: 18rem;
    }
    .card-titulo{
        font-size: 1.2rem;
    }
    .card-descricao{
        font-size: .8rem;
    }
}